@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	src: local('Gilroy-Medium'),
		url('../fonts/Gilroy-Medium.woff') format('woff'),
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	src: local('Gilroy-Regular'),
		url('../fonts/Gilroy-Regular.woff') format('woff'),
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	src: local('Gilroy-Semibold'),
		url('../fonts/Gilroy-Semibold.woff') format('woff'),
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	src: local('Gilroy-Bold'),
		url('../fonts/Gilroy-Bold.woff') format('woff'),
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 800;
	src: local('Gilroy-Extrabold'),
		url('../fonts/Gilroy-Extrabold.woff') format('woff'),
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 900;
	src: local('Gilroy-Black'),
		url('../fonts/Gilroy-Black.woff') format('woff'),
}