// Header
header {
  background-color: #1e1e1e;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo a img {
  width: clamp(12rem, 10.607rem + 5.714vw, 15.75rem);
  height: clamp(2rem, 1.768rem + 0.952vw, 2.625rem);
  pointer-events: none;
}
.logo a {
  height: 42px;
  display: block;
  position: relative;
  z-index: 14;
}
.logo {
  position: relative;
  z-index: 10;
}
.header__image-abs {
  position: absolute;
  bottom: -550px;
  right: -600px;
  width: clamp(18.75rem, -2.143rem + 85.714vw, 75rem);
  z-index: 1;
  overflow: hidden;
  // width: clamp(19.625rem, 11.129rem + 34.857vw, 42.5rem);
  height: clamp(19.625rem, 11.129rem + 34.857vw, 42.5rem);
}
.header__image-abs3 {
  position: absolute;
  right: 0;
  top: 0;
  width: clamp(20rem, 18.143rem + 7.619vw, 25rem);
}
.pc {
  display: none;
}
.register__btn {
  margin-right: 15px;
}
.first-circle {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  background-color: #ffb800;
  position: relative;
  text-align: center;
  width: 48px;
  height: 50px;
}

.first-circle::before {
  content: "";
  position: absolute;
  border: 2px solid rgba(255, 137, 26, 0.25);
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
}
.first-circle::after,
.first-circle::before {
  content: "";
  position: absolute;
  border: 2px solid rgba(255, 137, 26, 0.25);
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
}
.first-circle::after {
  animation-delay: 1.25s;
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.second-circle {
  position: relative;
  text-align: center;
  padding: 8px 60px;
  width: 200px;
  border-radius: 24px;
  background-image: linear-gradient(-90deg, #ffb800 0, #ff8a00 100%);
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: normal;
}
.header__image-abs2 {
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(21.25rem, 16.839rem + 18.095vw, 33.125rem);
  z-index: 1;
}
.register__btn {
}
.register-btn {
  padding: 4px 40px;
  border-radius: 24px;
  background-image: linear-gradient(-90deg, #ffb800 0, #ff8a00 100%);
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.register-btn {
  transform: translate(-6px, -6px);
}
.register-img {
  display: none;
}
@media screen and (max-width: 1400px) {
  .header__image-abs2 {
    left: 0%;
  }
}
@media screen and (max-width: 1270px) {
  .header__image-abs {
    bottom: -420px;
    right: -520px;
  }
}
@media screen and (max-width: 1000px) {
  .header__image-abs {
    top: -55px;
    right: -400px;
  }
}
@media screen and (max-width: 775px) {
  .header__image-abs {
    right: -260px;
  }
  .header__image-abs3 {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .header__image-abs {
    top: -50px;
    right: -205px;
  }
}
@media screen and (max-width: 530px) {
  .header__image-abs {
    top: -60px;
    right: -120px;
  }
  .register-btn {
    display: none;
  }
  header .second-circle {
    display: none;
  }
  .pc {
    display: block;
  }
  .register-img {
    display: block;
  }
}
@media screen and (max-width: 430px) {
  .header__image-abs {
    top: -35px;
    right: -60px;
  }
}
